* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #4daf54, #3d8880);
}

.card {
  margin: 120px auto;
  width: 320px;
  height: 500px;
  background-color: #272d40;
  padding: 20px;
  border-radius: 20px;
  color: white;
  position: relative;
}

.card__heart--icon,
.card__cart--icon {
  font-size: 25px;
  position: absolute;
  left: 20px;
  top: 15px;
}

.card__cart--icon {
    left: unset;
    right: 20px;
}

.card__img {
    width: 90%;
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
